{% extends 'admin_/layout.html' %}
{% load static %}
{% block title %}Marquer L'abscence{% endblock %}

{% block absence %}
<div class="topBar">
    <ul>
        <a href="{% url 'profile' %}">
            <li class="admin">
                <p id="greeting">Hi, {{ Admin.prenom }}</p>
                <img src="{{Admin.A_Image.url}}">
            </li>
        </a>
        <a href="{% url 'logout' %}">
            <li>
                <div class="log-out">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Log Out</p>
                </div>
            </li>
        </a>
    </ul>
</div>
<div class="pd25">
    <div class="title">
        <p>Absence D'un Stagiaire</p>
    </div>
    <form method="post" id="absensce-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Marquer l'absence"/>
    </form>
</div>
{% endblock absence %}